body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main {
    margin: 0;
    padding: 0;
}
.top-menu {
    background-color: #227cff;
    height: 40px;
    position: fixed;
    top: 0;
    width: 100%;

}
.work-place {
}
.left-menu {
    background-color: #fff;
    position: fixed;
    top: 40px;
    height: 100%;
    width: 35%;
    border-right: 1px solid #cacaca;

}
.right-menu {
    background-color: #fff;
    position: fixed;
    top: 40px;
    left: 35%;
    width: 65%;
    height: 100%;
}
.right-menu-header {
    background-color: #fff;
    position: relative;
    height: 40px;
    border-left: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
}
.right-menu-content {
    background-color: #fff;
    position: relative;
    height: 100%;
    border-left: 1px solid #cacaca;

}
.right-menu-footer {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    border: 1px solid #cacaca;
}
.dialogs {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
}
.message {
    list-style-type: none;
    margin: 0;
    padding: 6px;
    border-bottom: 1px solid #cacaca;
}
.message-unread {
    background-color: #cacaca;
}
.message-inner {
    padding: 0;
}
.message:hover {
    background-color: #E4E5E9;
    cursor: pointer;
}
.inner-ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    list-style-type: none;
}
.photo {
    width: 75px;
    height: 64px;
}
.inner-ul-message {
    width: 100%;
}
.message-info {
    list-style-type: none;
    padding: 0 0 0 10px;
}
.message-li {

}
.user-name {
    float: left;
}
.date {
    float: right;
}
.mess {
    clear: left;
    text-align: left;
    padding: 15px 0;
}
