body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
* {
    /*box-sizing: border-box;*/
}
body {
    overflow: hidden;
}
*::-webkit-scrollbar {
    width: 3px;
    height: 7px;
    background-color: transparent;
    border-left: 1px solid #cacaca;
}
*::-webkit-scrollbar-thumb {
    background-color: #B7B7B7;
}
.main {
    margin: 0;
    padding: 0;
}

.work-place {

}

.app-top-menu {
    height: 39px;
    border-bottom: 1px solid #cacaca;
}
.left-top {
    height: 100%;
    width: 35%;
    border-right: 1px solid #cacaca;
    float: left;
}
.hide-element {
    display: none;
}
.right-top {
    height: 100%;
    margin-left: 35%;
}
.right-top-min {
    height: 100%;
    margin: 0;
}

.left-menu {
    background-color: #fff;
    position: absolute;
    width: 35%;
    border-right: 1px solid #cacaca;
    overflow: auto;
    z-index: 100;
}
.right-menu {
    background-color: #fff;
    position: fixed;
    /*top: 40px;*/
    left: 35%;
    width: 65%;
    height: 100%;
}
.right-menu-min {
    background-color: #fff;
    height: 100%;
    left: 0;
    width: 100%;
    overflow: auto;
}

.right-menu-content {
    background-color: #fff;
    position: relative;
    border-left: 1px solid #cacaca;
    overflow: auto;
    overflow-x: hidden;

}
.right-menu-footer {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    border: 1px solid #cacaca;
}
.dialogs {
    margin: 0;
    padding: 0;
    height: 100%;
}
.message {
    list-style-type: none;
    margin: 0;
    padding: 6px;
    border-bottom: 1px solid #cacaca;
    height: 50px;
}
.message-unread {
    background-color: #cacaca;
}
.message-inner {
    padding: 0;
}
.message:hover {
    background-color: #E4E5E9;
    cursor: pointer;
}
.inner-ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    list-style-type: none;
}
.photo {
    width: 50px;
    height: 50px;
}
.inner-ul-message {
    width: 100%;
}
.message-info {
    list-style-type: none;
    padding: 0 0 0 10px;
}
.message-li {

}
.user-name {
    float: left;
}
.date {
    float: right;
}
.mess {
    clear: left;
    text-align: left;
    padding: 7px 0;
}


.tools {

}
.tools-wrapper {
    display: flex;
    height: 100%;
}
.text-in {
    width: 80%;
}
.send-out {
    width: 20%;
    text-align: right;
}


#message-text {
    height: 45px;
    width: 100%;
    font-size: 1em;
    border: 0;
    outline: none;

}
#send-message {
    font-size: 1em;
    height: 50px;
    background-color: #fff;
    border: 0;
    color: #cacaca;
    outline: none;
}
#send-message:hover {
    color: #000;
    outline: none;
}


.chat {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
.chat-message {
    clear: both;
}
.chat li p {
    border: 1px solid #cacaca;
    padding: 5px 10px;
    border-radius: 8px;
    margin: 5px;
    max-width: 400px;
}
.chat-message-inner {
    float: left;
    clear: both;
    text-align: left;
}
li.chat-message-from-me {
    float: right;
    clear: both;
    text-align: right;
}
.from-me {
    text-align: right;
}
.from-me-color {
    background-color: rgb(163, 221, 140);
}


.show-left-menu {
    float: left;
    height: 39px;
    width: 50px;
}


/* SANDWICH */
.container {
  width: 50px;
  height: 39px;
}

.nav-expand {
  width: 50px;
  height: 39px;
  position: relative;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  cursor: pointer;
  -webkit-transition: all 125ms ease-in;
  transition: all 125ms ease-in;
}
.nav-expand.open .sandwich {
  background-color: transparent;
}
.nav-expand.open .sandwich:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0px;
}
.nav-expand.open .sandwich:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0px;
}
.nav-expand .sandwich {
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  height: 1px;
  position: absolute;
  background-color: #A5ACB0;
  width: 26px;
  left: 11.5px;
  top: 19.5px;
}
.nav-expand .sandwich:before, .nav-expand .sandwich:after {
  content: "";
  background-color: #A5ACB0;
  width: 26px;
  /* height: 4px; */
  position: absolute;
  left: 0;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  height: 1px;
}
.nav-expand .sandwich:before {
  top: -8px;
}
.nav-expand .sandwich:after {
  top: 8px;
}
.nav-expand:hover {
  /*background-color: #f2f3f4;*/
}
.nav-expand:hover.open .sandwich {
  background-color: transparent;
}
.nav-expand:hover .sandwich {
  /*background-color: #979fa4;*/
}
.nav-expand:hover .sandwich:before, .nav-expand:hover .sandwich:after {
  background-color: #979fa4;
}




.west-cost-custom-width {
    width: 500px;
}





/* ------ TEST DESIGN --------*/

.a {
    margin-right: 20%;
}
.a p {

}
.a-inner {

}
.a-message-from-me {
    text-align: right;
    margin-left: 20%;
}    
.chat div {
    padding: 5px;
}
.chat div p {
    margin: 0;
    padding: 5px;
    display: inline-block;
    border-radius: 8px;
    border: 1px solid #cacaca;
}
