<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VK Chat App</title>
    <link rel="stylesheet" href="../style/base.css">
</head>
<body>
    <div class="main">
        <div class="top-menu">

        </div>
        <div class="work-place">
            <div class="left-menu">
                <ul id="dialogs" class="dialogs">
                    <!-- <li class="message">
                        <div class="message-inner">
                            <ul class="inner-ul">
                                <li class="photo">[Photo]</li>
                                <li class="inner-ul-message">
                                    <ul class="message-info">
                                        <li class="message-li">
                                            <span class="user-name">nick anders</span>
                                            <span class="date">11 Mar</span>
                                        </li>
                                        <li class="mess">hello my little friend</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li> -->
                </ul>
            </div>
            <div class="right-menu">
                <div class="right-menu-header">

                </div>
                <div class="right-menu-content">
                    <div id="content"></div>
                </div>
                <footer class="right-menu-footer">

                </footer>
            </div>
        </div>

    </div>
    <!-- <script src="../js/index.js"></script> -->
    <script type="text/babel" src="../js/bundle.js"></script>
</body>
</html>
